html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.app-area {
  display: -webkit-flex; /* Safari 8 */
  display: flex;
  -webkit-flex-direction: column; /* Safari 8 */
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  -webkit-align-items: center; /* Safari 8 */
  align-items: center;
  background: #634d76;
  color: #fff;
  display: -webkit-flex; /* Safari 8 */
  display: flex;
  -webkit-flex-direction: row-reverse; /* Safari 8 */
  flex-direction: row-reverse;
  -webkit-flex-shrink: 0; /* Safari 8 */
  flex-shrink: 0;
  -webkit-justify-content: center; /* Safari 8 */
  justify-content: center;
  padding: 10px;
  position: relative;
}

.header__h1 {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.header__menu-open {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: 48px;
  left: 5px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  width: 48px;
}

.main {
  background-color: #00ff00;
  display: -webkit-flex; /* Safari 8 */
  display: flex;
  -webkit-flex-grow: 1; /* Safari 8 */
  flex-grow: 1;
}

.map {
  background-color: blue;
  -webkit-flex-grow: 1; /* Safari 8 */
  flex-grow: 1;
}

.filter-menu {
  left: 0;
  overflow: hidden;
  padding: 10px 20px 20px 10px;
  position: fixed;
  top: 0;
  width: 215px;
  z-index: 2;
}

.filter-menu__container {
  background: #775a8e;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
  display: -webkit-flex; /* Safari 8 */
  display: flex;
  -webkit-flex-direction: column; /* Safari 8 */
  flex-direction: column;
  overflow: hidden;
}

.filter-menu__header {
  -webkit-align-items: flex-end; /* Safari 8 */
  align-items: flex-end;
  display: -webkit-flex; /* Safari 8 */
  display: flex;
  -webkit-justify-content: center; /* Safari 8 */
  justify-content: center;
  padding: 10px 10px 0;
}

.filer-menu_heading {
  color: #fff;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.filter-menu__menu-close {
  cursor: pointer;
  display: none;
}

.filter-menu__input {
  margin: 10px;
  padding: 5px;
}

.filter-menu__content {
  -webkit-flex-grow: 1; /* Safari 8 */
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-menu__item {
  border-top: 1px solid #fff;
  margin-bottom: -1px;
  padding: 5px 3px;
}

.filter-menu_item--selected {
  background-color: rgba(0,0,0,0.5);
}

.filter-menu__item button {
  background: 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 10px 5px;
  text-align: left;
  width: 100%;
}

.info-window-content {
  max-width: 300px;
  overflow: auto;
  padding: 10px;
  width: 50vw;
}

.info-window-content__heading {
  font-weight: bold;
  margin: 0;
}

.info-window-content__status {
  color: #ccc;
  margin: 0;
  padding: 10px 0;
}

.info-window-content__snippet {
  margin: 0;
  padding: 10px 0;
}