html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.app-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  background: #634d76;
  color: #fff;
  position: relative;
  height: 58px;
}

.header__h1 {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
}

.header__menu-open {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* To-do. Check if we need to remove outline when menu-open is active, or whether we'll refocus */

/* Middle line */
.header__menu-open span {
  display: inline-block;
  right: 0;
  top: 0;
  height: 3px;
  width: 30px;
  background: #fff;
  vertical-align: middle;
}

/* Top line */
.header__menu-open span::before {
  -webkit-transform: translateY(-6px); /* Safari 8 */
  transform: translateY(-6px);
  -webkit-transform-origin: 17px 0; /* Safari 8 */
  transform-origin: 17px 0;
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  width: 30px;
}

/* Bottom line */
.header__menu-open span::after {
  -webkit-transform: translateY(3px); /* Safari 8 */
  transform: translateY(3px);
  -webkit-transform-origin: 9px -1px; /* Safari 8 */
  transform-origin: 9px -1px;
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  width: 30px;
}

.main {
  background-color: #00ff00;
  display: flex;
  flex-grow: 1;
}

.map {
  background-color: blue;
  flex-grow: 1;
}

.filter-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.filter-menu--visible {
  pointer-events: auto;
}

.filter-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0, 0, 0.7, 1);
  will-change: opacity;
}

.filter-menu--visible.filter-menu::before {
  opacity: 1;
}

.filter-menu__container {
  background: #634d76;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(-102%);
  will-change: transform;
}

.filter-menu--visible .filter-menu__container {
  transform: none;
}

/* Transition close */
.fitler-menu--visible.filter-menu--animatable .filter-menu__container {
  transition: transform 0.13s cubic-bezier(0, 0, 0.3, 1);
}

/* Transition open */
.filter-menu--animatable .filter-menu__container {
  transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1);
}


.filter-menu__header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 120px;
}

.filer-menu_heading {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  color: #fff;
}

.filter-menu__menu-close {
  position: absolute;
  left: 4px;
  top: 4px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 48px;
  width: 48px;
}

/* Middle line, which is transparent. */
.filter-menu__menu-close span {
  display: inline-block;
  right: 0;
  top: 0;
  height: 3px;
  width: 30px;
  background: transparent;
  vertical-align: middle;
}

/* Top line */
.filter-menu__menu-close span::before {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  -webkit-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
  -webkit-transform-origin: 10px 5px; /* Safari 8 */
  transform-origin: 10px 5px;
  width: 30px;
}

/* Bottom line */
.filter-menu__menu-close span::after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  -webkit-transform: translateY(3px) rotate(-45deg); /* Safari 8 */
  transform: translateY(3px) rotate(-45deg);
  -webkit-transform-origin: 6px -3px; /* Safari 8 */
  transform-origin: 6px -3px;
  width: 30px;
}

.filter-menu__input {
  margin: 10px;
  padding: 5px;
}

.filter-menu__content {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.filter-menu__item {
  border-top: 1px solid #fff;
  margin-bottom: -1px;
  padding: 5px 3px;
}

.filter-menu_item--selected {
  background-color: rgba(0,0,0,0.5);
}

.filter-menu__item button {
  background: 0;
  border: 0;
  color: #fff;
  padding: 10px 5px;
  width: 100%;
  text-align: left;
}


.info-window-content {
  overflow: auto;
  max-width: 300px;
  padding: 10px;
  width: 50vw;
}

.info-window-content__heading {
  font-weight: bold;
  margin: 0;
}

.info-window-content__status {
  color: #ccc;
  margin: 0;
  padding: 10px 0;
}

.info-window-content__snippet {
  margin: 0;
  padding: 10px 0;
}
